body {
    background-color: #1b1b1b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
*{
   overflow-x: hidden;
}
header {
    margin: 0 10px 20px 10px; 
    max-width: 100%;        
    max-height: 10vh;
}

.heading {
    
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    font-size: 32px;
    text-align: center;
    border: solid white 2px;
    padding-top: 3px;
    box-sizing: border-box;
    overflow: hidden;
}

.p1 {
    display: grid;
    grid-template-columns: 2fr;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: stretch;
}

.text h1.heads {
    font-size: 28px;
    margin-bottom: 10px;
}

.text p.description {
    font-size: 20px;
    line-height: 1.6;
}

video,img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 6px;
    object-fit: fit;
}
footer{
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

footer .line{
    height: 2px;    
    background-color: white; 
    flex: 1;
}
footer .credit{
        margin: 0 10px;     
            white-space: nowrap; 
                font-size: 16px;
}
